@import url('https://css.gg/arrow-left.css');

#wordsLeft-page-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 8px;
    height: 170px;
    overflow-y: scroll;
}
  
.back {
  margin-bottom: 8px;
  margin-left: 11px;
  margin-right: auto;
  width: 11px
  }

.back:hover {
  position: relative;
  left: -2px
}

.title {
  font-weight: 600;
  margin-right: auto;
  margin-bottom: 6px;
}

.word-box {
  width: 25%;
  height: 34px;
  border: #e8ecf6 1px solid;
  letter-spacing: 0.9px;
  box-sizing: border-box;
  animation: flipInX 1.5s ease-in-out;
}

.word-box:hover {
  background-color: var(--green-tile);
  color: #e8ecf6;
  cursor: pointer;
}
