@font-face {
  font-family: 'Karnak';
  src: url("karnakcondensed-normal-700.woff2"), format("woff2");
}

body {
  width: 450px;
  height: 250px;
}

#landingPage {
  height: 100%;
  width: 100%;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.landing-btn {
  height: 30px;
  width: 28%;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: #4CAF50;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.small-btn {
  margin-top: 4%;
}

.big-btn {
  flex-basis: 42%;
}

#wordsLeftPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.word-btn, .back {
  height: 30px;
  width: 15%;
  margin: 1.5%;
  outline: none;
  border: none;
  border-radius: 2px;
  
}

.back {
  background-color: #4CAF50;
  margin-right: 1%;
}

.word-btn {
  background-color: rgb(64, 63, 63);
  color: whitesmoke;
}

.hidden {
  display: none !important;
}

.landing-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.lttrs-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}

.gray-tile {
  background-color: #3a3a3c;
  margin: 1px;
}

.green-tile {
  background-color: #6aaa64;
  margin: 1px;
}

.yellow-tile {
  background-color: #c9b458;
  margin: 1px;
}

.label {
  font-family: 'Karnak';
  font-size: 1.5em;
  color: whitesmoke;
  width: 86px;
}

.lttrs {
  font-family: 'Karnak', Helvetica;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 57px;
}

.colored-letters:nth-child(3) {
  color: #6aaa64;
}

.colored-letters:nth-child(even) {
  color: #c9b458;
}

.colored-letters:nth-child(1) .lttrs:nth-child(5) {
  color: lightgray;
}