:root {
  --darker: #b9c6d2;
	--middle: #d0dde9;
	--lighter: #edf0f8;
  --dark-text: #414141;
  --darker-text: #3a3a3c;
  --faded-text-on-green: #4b4e4e;
  --text-on-dark-gray: #c6c8d2d6;
  --faded-text-on-yellow: #565b5d;
  --green-text: #33602f;
  --green-tile: #6aaa64;
  --yellow-tile: #c9b458;
  --gray-tile: var(--darker-text);
  --gray-tile-light: #787c7e;
}

html {
  background: linear-gradient(
    180deg,
    var(--lighter) 0%,
    var(--middle) 30%,
    var(--darker) 91%
  );
  background-repeat: no-repeat;
  background-position: center;
}

body {
  width: 300px;
  height: 200px;
  margin-bottom: none;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

flex,
flex-y {
  display: flex;
  justify-content: center;
  align-items: center;
}

flex-y {
  flex-direction: column;
}

.secondary-page-size {
  width: 400px;
}

.absolute {
  position: absolute;
}
