@import url('https://css.gg/loadbar-alt.css');
@import url('https://css.gg/align-center.css');
@import url('https://css.gg/calculator.css');

.abc {
    height: 54px;
    width: 54px;
    background-image: url(https://img.icons8.com/ios-glyphs/60/aeb1ba/abc.png);
    transform: scale(0.5);
}

.gg-align-center{
    color: var(--faded-text-on-green);
}

.gg-calculator {
    color: var(--faded-text-on-yellow);
}

.code {
    background-image: url(../images/github.png);
    background-size: cover;
    background-position: center;
    height: 22px;
    width: 22px;
    opacity: 0.7;
    transition: transform .1s ease-out;
    position: absolute;
    right: 0;
    top: -3px;
  }
  
  .code:hover {
    transform: rotate(-15deg);
  }




