#landingPage {
    height: inherit;
}

.landing-page-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.landing-container {
  justify-content: space-evenly;
  width: 100%;
}

.title-bar {
  width: 96%;
}

.tiles-container {
  justify-content: space-evenly;
  width: 96%;
  transition-property: opacity, content, color;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
}

/*#region Tile Hover*/
.tiles-container:hover {
  cursor: pointer;
  box-shadow:  #53545497 1px 1px 10px;
}

#wordsLeft:hover::before,
#bestLetters:hover::before,
#bestGuess:hover::before
 {
  font-size: x-large;
  font-family: Helvetica;
  letter-spacing: 2px;
  position: absolute;
}

#wordsLeft:hover .tiles-container, 
#bestLetters:hover .tiles-container,
#bestGuess:hover .tiles-container {
  opacity: 0.2;
}

#wordsLeft:hover .tiles-container .tiles,
#bestLetters:hover .tiles-container .tiles, 
#bestGuess:hover .tiles-container .tiles {
  color: rgba(245, 245, 245, 0.688);
}

#bestLetters:hover .tiles-container .tiles {
  background-color: #878789;
}

#wordsLeft:hover::before {
  content: "Show Words Left";
}

#bestLetters:hover::before {
  content: "Show Best Letters";
}

#bestGuess:hover::before {
  content: "Show Best Guesses";
}
/*#endregion*/

.tiles {
  font-size: 2em;
  width: 56px;
  height: 56px;
}

.gray-tile,
.green-tile,
.yellow-tile, 
.light-gray-tile {
  margin: 1px;
}

.gray-tile {
  background-color: var(--darker-text);
  color: var(--text-on-dark-gray)
}

.green-tile {
  background-color: #6aaa64;
  color: var(--darker-text);
  color: var(--faded-text-on-green);
}

.yellow-tile {
  background-color: #c9b458;
  color: #414141;
  color: var(--faded-text-on-yellow)
}

.light-gray-tile {
  background-color: var(--gray-tile-light);
  color: #414141;
}

.code {
  background-image: url(../images/github.png);
  background-size: cover;
  background-position: center;
  height: 30px;
  width: 30px;
  opacity: 0.7;
  transition: transform .1s ease-out;
}

.code:hover {
  transform: rotate(-15deg);
}