@import url('https://css.gg/sync.css');
@import url('https://css.gg/loadbar.css');


.landing-page-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#refresh {
  align-self: end;
  margin-right: 6%;
  margin-bottom: 8px;
  color: var(--darker-text);
  transition: transform .25s ease-out;
}

#refresh:hover {
  transform: rotate(90deg);
}

.landing-container {
  justify-content: space-evenly;
  width: 100%;
}

.tiles-container {
  justify-content: space-evenly;
  width: 90%;
  transition-property: opacity, content, color;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
}

/*#region Tile Hover*/
.tiles-container:hover {
  cursor: pointer;
  box-shadow:  #53545497 1px 1px 10px;
}

#wordsLeft:hover::before,
#bestLetters:hover::before,
#bestGuess:hover::before
 {
  font-size: x-large;
  font-family: Helvetica;
  letter-spacing: 2px;
  position: absolute;
}

#wordsLeft:hover .tiles-container, 
#bestLetters:hover .tiles-container,
#bestGuess:hover .tiles-container {
  opacity: 0.2;
}

#wordsLeft:hover .tiles-container .tiles,
#bestLetters:hover .tiles-container .tiles, 
#bestGuess:hover .tiles-container .tiles {
  color: rgba(245, 245, 245, 0.688);
}

#bestLetters:hover .tiles-container .tiles {
  background-color: #878789;
}

#wordsLeft:hover::before {
  content: "Show Words Left";
}

#bestLetters:hover::before {
  content: "Show Best Letters";
}

#bestGuess:hover::before {
  content: "Show Best Guesses";
}
/*#endregion*/

.tiles {
  font-size: 2em;
  width: 52px;
  height: 52px;
}

/*#region Color Best Letter Tiles*/
.colored-letters:nth-child(3) {
  color: var(--darker);
}

.colored-letters:nth-child(even) {
  color: #6aaa64;
}

.colored-letters:nth-child(1), .colored-letters:nth-child(5) {
  color: #c9b458;
}
/*#endregion*/

.gray-tile,
.green-tile,
.yellow-tile {
  margin: 1px;
}

.gray-tile {
  background-color: var(--darker-text);
}

.green-tile {
  background-color: #6aaa64;
  color: var(--darker-text);
}

.yellow-tile {
  background-color: #c9b458;
  color: rgb(65, 65, 65);
}