/* @import url('https://css.gg/sync.css'); */

/* #refresh {
  align-self: end;
  margin-right: 6%;
  margin-bottom: 8px;
  color: var(--darker-text);
  transition: transform .25s ease-out;
}

#refresh:hover {
  transform: rotate(90deg);
} */